.row::after {
  clear: both;
  display: block;
  content: ''; }

.col {
  float: left; }

.colS1 {
  width: 8.3333333333%; }

.offsetS1 {
  margin-left: 8.3333333333%; }

.colS2 {
  width: 16.6666666667%; }

.offsetS2 {
  margin-left: 16.6666666667%; }

.colS3 {
  width: 25%; }

.offsetS3 {
  margin-left: 25%; }

.colS4 {
  width: 33.3333333333%; }

.offsetS4 {
  margin-left: 33.3333333333%; }

.colS5 {
  width: 41.6666666667%; }

.offsetS5 {
  margin-left: 41.6666666667%; }

.colS6 {
  width: 50%; }

.offsetS6 {
  margin-left: 50%; }

.colS7 {
  width: 58.3333333333%; }

.offsetS7 {
  margin-left: 58.3333333333%; }

.colS8 {
  width: 66.6666666667%; }

.offsetS8 {
  margin-left: 66.6666666667%; }

.colS9 {
  width: 75%; }

.offsetS9 {
  margin-left: 75%; }

.colS10 {
  width: 83.3333333333%; }

.offsetS10 {
  margin-left: 83.3333333333%; }

.colS11 {
  width: 91.6666666667%; }

.offsetS11 {
  margin-left: 91.6666666667%; }

.colS12 {
  width: 100%; }

.offsetS12 {
  margin-left: 100%; }

@media screen and (min-width: 600px) {
  .colM1 {
    width: 8.3333333333%; }

  .offsetM1 {
    margin-left: 8.3333333333%; }

  .colM2 {
    width: 16.6666666667%; }

  .offsetM2 {
    margin-left: 16.6666666667%; }

  .colM3 {
    width: 25%; }

  .offsetM3 {
    margin-left: 25%; }

  .colM4 {
    width: 33.3333333333%; }

  .offsetM4 {
    margin-left: 33.3333333333%; }

  .colM5 {
    width: 41.6666666667%; }

  .offsetM5 {
    margin-left: 41.6666666667%; }

  .colM6 {
    width: 50%; }

  .offsetM6 {
    margin-left: 50%; }

  .colM7 {
    width: 58.3333333333%; }

  .offsetM7 {
    margin-left: 58.3333333333%; }

  .colM8 {
    width: 66.6666666667%; }

  .offsetM8 {
    margin-left: 66.6666666667%; }

  .colM9 {
    width: 75%; }

  .offsetM9 {
    margin-left: 75%; }

  .colM10 {
    width: 83.3333333333%; }

  .offsetM10 {
    margin-left: 83.3333333333%; }

  .colM11 {
    width: 91.6666666667%; }

  .offsetM11 {
    margin-left: 91.6666666667%; }

  .colM12 {
    width: 100%; }

  .offsetM12 {
    margin-left: 100%; } }
@media screen and (min-width: 960px) {
  .colL1 {
    width: 8.3333333333%; }

  .offsetL1 {
    margin-left: 8.3333333333%; }

  .colL2 {
    width: 16.6666666667%; }

  .offsetL2 {
    margin-left: 16.6666666667%; }

  .colL3 {
    width: 25%; }

  .offsetL3 {
    margin-left: 25%; }

  .colL4 {
    width: 33.3333333333%; }

  .offsetL4 {
    margin-left: 33.3333333333%; }

  .colL5 {
    width: 41.6666666667%; }

  .offsetL5 {
    margin-left: 41.6666666667%; }

  .colL6 {
    width: 50%; }

  .offsetL6 {
    margin-left: 50%; }

  .colL7 {
    width: 58.3333333333%; }

  .offsetL7 {
    margin-left: 58.3333333333%; }

  .colL8 {
    width: 66.6666666667%; }

  .offsetL8 {
    margin-left: 66.6666666667%; }

  .colL9 {
    width: 75%; }

  .offsetL9 {
    margin-left: 75%; }

  .colL10 {
    width: 83.3333333333%; }

  .offsetL10 {
    margin-left: 83.3333333333%; }

  .colL11 {
    width: 91.6666666667%; }

  .offsetL11 {
    margin-left: 91.6666666667%; }

  .colL12 {
    width: 100%; }

  .offsetL12 {
    margin-left: 100%; } }
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none; }

.hide {
  display: none; }

.fa-phone {
  color: white;
  font-size: 2em; }

.img__reviews--center img {
  text-align: center;
  margin: 0 auto; }

.fb-logo img {
  float: right;
  right: 0;
  margin-right: 5%; }

.reviews--center img {
  text-align: center;
  margin: 0 auto;
  display: block; }

.container img {
  padding: 0px; }

.menu-items img {
  width: 100%;
  text-align: center; }

.review--stars img {
  width: 50%; }

iframe {
  border: none;
  width: 100%;
  height: 400px; }

.bg-color--gray {
  background-color: #F2F2F2;
  z-index: -1; }

.brand-color {
  background-color: #99CC99; }

p {
  color: #333333;
  font-family: 'Oswald', sans-serif;
  text-shadow: -3px -3px -3px #CCC;
  font-size: 1.25em;
  width: 34em; }

.container .p__menu--center p {
  position: absolute;
  bottom: 45%;
  right: -5%;
  text-align: center;
  font-size: 1.5em;
  text-shadow: -3px -3px -3px #CCC;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  padding: 0px 10% 0px 10%; }

.p__menu-items--center p {
  text-align: center; }

.p__center p {
  text-align: center;
  display: block;
  margin: 0 auto; }

h2 {
  color: #333333;
  font-family: 'Oswald', sans-serif;
  font-style: bold;
  text-shadow: -3px -3px -3px #CCC;
  font-size: 3em; }

h3 {
  color: #333333;
  font-family: 'Oswald', sans-serif;
  font-style: bold;
  text-shadow: -3px -3px -3px #CCC;
  font-size: 2.5em;
  text-align: center; }

h4 {
  color: #333333;
  font-family: 'Oswald', sans-serif;
  font-style: bold;
  text-shadow: -3px -3px -3px #CCC;
  font-size: 2em;
  text-align: left;
  padding: 1%; }

.card {
  text-align: center; }
  .card h4 {
    text-align: center; }
  .card p {
    margin: 0 auto; }

.page-container {
  clear: both;
  content: '';
  display: table; }

.row::after {
  clear: both;
  content: '';
  display: table; }

.row--no-padding {
  margin-bottom: 0px; }

.col {
  float: left; }

.navigation {
  height: 13%; }
  @media screen and (min-width: 960px) {
    .navigation {
      height: 15%; } }

.nav__fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }

#logo {
  padding-top: 4%;
  margin-left: 4%;
  width: 100%; }

#list {
  float: right;
  margin-right: 4%;
  padding-top: 2%; }
  #list ul {
    list-style: none; }
  #list li {
    font-family: 'Oswald', sans-serif;
    text-transform: lowercase;
    font-size: 3em;
    color: white;
    text-shadow: -3px -3px -3px #CCC; }
    @media screen and (min-width: 600px) {
      #list li {
        display: inline-block !important;
        font-size: 2em;
        margin: 0 12px;
        padding-top: 4%; }
        #list li #navActive, #list li li:active {
          border-bottom: 3px solid #99CC99; } }
    @media screen and (min-width: 960px) {
      #list li {
        display: inline-block !important;
        font-size: 2.5em;
        margin: 0 12px;
        padding-top: 1%; }
        #list li #navActive, #list li li:hover {
          border-bottom: 3px solid #99CC99; } }
  #list a:hover, #list #nav__active {
    border-bottom: 3px solid white; }

@media screen and (max-width: 600px) {
  #menu-icon {
    display: block;
    padding-top: 5%;
    margin-right: 5%;
    float: right;
    color: white;
    font-size: 4em; }

  #list {
    display: none;
    float: right;
    clear: both;
    background-color: white;
    width: 100%;
    padding: 1% 5% 5% 5%;
    height: 20%; }

  #list ul li {
    display: block;
    float: none;
    padding-top: 20px;
    font-size: 1.875em;
    color: #99CC99; } }
.p__footer--left p {
  display: inline-block;
  float: left;
  margin-left: 20px;
  color: white;
  width: 100%;
  text-align: left;
  font-size: 14px;
  text-shadow: -3px -3px -3px #CCC; }

.p__footer--middle p {
  display: inline-block;
  float: left;
  margin-left: 0px;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 12px;
  text-shadow: -3px -3px -3px #CCC;
  margin-left: 30px; }

.p__footer--right p {
  padding-top: 0px !important;
  display: inline-block;
  float: right;
  color: white;
  width: 100%;
  text-align: right;
  font-size: 18px;
  text-shadow: -3px -3px -3px #CCC; }

.footer {
  padding-top: 25px;
  bottom: 0;
  height: 82px;
  width: 100%;
  padding-bottom: none !important;
  align: center; }

a:link {
  color: white; }

a:visited {
  color: white; }

a:hover {
  color: white; }

.btn {
  text-align: center;
  text-shadow: -3px -3px -3px #CCC;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 2em;
  color: white;
  border-radius: 2px;
  border: 5px double white;
  padding: 0px 70px 10px 70px; }

.container {
  position: relative;
  width: 100%; }

.container .btn:hover {
  background-color: rgba(255, 255, 255, 0.85);
  color: white; }

/*POSITIONING*/
.padding--bottom {
  padding-bottom: 3%; }

.padding--top {
  padding-top: 3%; }

.box {
  height: 400px; }

/*# sourceMappingURL=style.css.map */
