@mixin headings{
	color: #333333;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	text-shadow: $text-shadow;
}

@mixin text-body{
	color: #333333;
	font-family: 'Oswald', sans-serif;
	text-shadow: $text-shadow;
}


@mixin clear(){
	clear: both;
	content: '';
	display: table;
}
