$columns: 12;
$columnWidth: 100% / $columns;

$mdWidth: 768px;
$lgWidth: 1920px;


$brand-color: #99CC99;

// SHADOWS

$text-shadow: -3px -3px -3px #CCC; 
$button-shadow: 0px 3px 6px #000000;


@for $i from 1 through $columns{
    .col#{$i}{
        width:$columnWidth * $i;
    }

    .offset#{$i}{
        margin-left:$columnWidth * $i;
    }
}




@media (min-width: $mdWidth) {
    @for $i from 1 through $columns{
        .colM#{$i}{
            width:$columnWidth * $i;
        }

        .offsetM#{$i}{
            margin-left:$columnWidth * $i;
        }
    }
}




@media (min-width: $lgWidth) {
    @for $i from 1 through $columns{
        .colL#{$i}{
            width:$columnWidth * $i;
        }

        .offsetL#{$i}{
            margin-left:$columnWidth * $i;
        }
    }
}


