@import 'variables';
@import 'mixins';

*{
	box-sizing:border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style-type: none;
}

.hide {
	display: none;
}



//ICONS

.fa-phone{
 	color: white;
 	font-size: 2em;
}

.img__reviews--center img{
	text-align: center;
	margin: 0 auto;
}

.fb-logo img{
	float: right;
	right: 0;
	margin-right: 5%;

}

// IMAGES

.reviews--center img{
	text-align: center;
	margin: 0 auto;
	display: block;
}
.container img {
  padding: 0px;
  // width: 100%;
}

.menu-items img{
	width: 100%;
	text-align: center;
}

.review--stars img{
	width: 50%;
}


// IFRAME

iframe{
	border: none;
	width: 100%;
	height: 400px;
}

// COLOUR

.bg-color--gray{
	background-color: #F2F2F2;
	z-index: -1;
}

.brand-color {
    background-color: $brand-color;
}

// TEXT

p {
	@include text-body;
	font-size: 1.25em;
	width: 34em;
}

.container .p__menu--center p{
	position: absolute;
	bottom: 45%;
	right: -5%;
	text-align: center;
	font-size: 1.5em;
	text-shadow: $text-shadow;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	padding: 0px 10% 0px 10%;
}

.p__menu-items--center p{
	text-align: center;
	}

.p__center p{
	text-align: center;
	display:block;
  margin:0 auto;
}

// HEADINGS

h2{
	@include headings;
	font-size: 3em;
}

h3{
	@include headings;
	font-size: 2.5em;
	text-align: center;
}

h4{
	@include headings;
	font-size: 2em;
	text-align: left;
	padding: 1%;
}


.card{
	text-align: center;
	h4{
		text-align: center;
	}
	p{
		margin: 0 auto;
	}
}

// ROW, COL AND PAGE CONTAINER

.page-container {
	@include clear;
}

.row{
    &::after{
	@include clear;
    }
}

.row--no-padding{
    margin-bottom: 0px;
}

.col{
    float: left;
}

// NAVIGATION

.navigation {
	height: 13%;
	@media screen and (min-width: $lgWidth){
	height: 15%;
		}
}

.nav__fixed{
	// overflow: hidden;
	position: fixed;
	top: 0;
  	width: 100%;
  	z-index: 1
}

#logo{
	padding-top: 4%;
 	margin-left: 4%;
 	width: 100%;
}


#list {
	float: right;
	margin-right: 4%;
	padding-top: 2%;
	ul{
			list-style: none;
			}
	li{
			font-family: 'Oswald', sans-serif;
			text-transform: lowercase;
			font-size: 3em;
			color: white;
			text-shadow: $text-shadow;

	 @media screen and (min-width: $mdWidth){
		 display:inline-block !important;
		 font-size: 2em;
		 margin: 0 12px;
		 padding-top: 4%;
			#navActive, li:active, {
			border-bottom: 3px solid $brand-color;
			}
	}
	@media screen and (min-width: $lgWidth){
			display:inline-block !important;
			font-size: 2.5em;
			margin: 0 12px;
			padding-top: 1%;
			#navActive, li:hover, {
			border-bottom: 3px solid $brand-color;
			}
	}
}

 a:hover, #nav__active {
	border-bottom: 3px solid white;
}
}



// MOBILE NAVIGATION

@media screen and (max-width: $mdWidth){

	#menu-icon{
			display: block;
			padding-top: 5%;
			margin-right: 5%;;
			float: right;
			color: white;
			font-size: 4em;
	}

  #list{
        display: none;
        float: right;
        clear: both;
        background-color: white;
        width: 100%;
        padding: 1% 5% 5% 5%;
				height: 20%;
    }

    #list ul li{
        display: block;
        float: none;
        padding-top: 20px;
        font-size: 1.875em;
				color: $brand-color;
    }
}

// FOOTER

.p__footer--left p{
	display: inline-block;
	float: left;
	margin-left: 20px;
	color: white;
	width: 100%;
	text-align: left;
	font-size: 14px;
	text-shadow: $text-shadow;
}

.p__footer--middle p{
	display: inline-block;
	float: left;
	margin-left: 0px;
	color: white;
	width: 100%;
	text-align: center;
	font-size: 12px;
	text-shadow: $text-shadow;
	margin-left: 30px;
}

.p__footer--right p{
	padding-top: 0px !important;
	display: inline-block;
	float: right;
	color: white;
	width: 100%;
	text-align: right;
	font-size: 18px;
	text-shadow: $text-shadow
}


.footer {
	padding-top: 25px;
	bottom: 0;
	height: 82px;
	width: 100%;
	padding-bottom: none !important;
	align: center;
}

// LINKS

a:link {
	color: white;
}

a:visited {
  	color: white;
}

a:hover {
	color: white;
}


// BUTTON

 .btn {
	text-align: center;
	text-shadow: $text-shadow;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	margin: 0 auto;
	cursor: pointer;
	background-color: hsla(360, 100%, 100%, 0.2);
	font-size: 2em;
	color: white;
	border-radius: 2px;
	border: 5px double white;
	padding: 0px 70px 10px 70px;
}

.container {
  position: relative;
  width: 100%;
}


.container .btn:hover {
  background-color: hsla(360, 100%, 100%, 0.85);
  color: white;
}

// RESPONSIVE

@media (min-width: $mdWidth){
}

@media (min-width: $lgWidth) {
}

/*POSITIONING*/

// .relative{
// 	position: relative;
// 	width: 500px;
// 	top: -100px;
// 	left: 200px;
// }

// .relative{
// 	position: relative;
// }

// .absolute{
// 	position: absolute;
// }

// PADDING/MARGIN

.padding--bottom{
	padding-bottom: 3%;
}

.padding--top{
	padding-top: 3%;
}

// BOX

.box{
	height: 400px;
}
